/* styles.css */

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #4285f4;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2em;
}

nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#hero-section {
    text-align: center;
    padding: 50px 0;
}

#hero-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#featured-artworks {
    text-align: center;
    padding: 50px 0;
}

.artwork {
    margin-bottom: 40px;
}

.artwork img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.artwork h3 {
    margin-top: 10px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4285f4;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #0066cc;
}

#about-us,
#contact {
    text-align: center;
    padding: 50px 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


/* styles.css */

body {
    background-image: url('https://th.bing.com/th/id/OIP.Q4xOF5OL2laf8QjN9rmM9wHaLM?rs=1&pid=ImgDetMain'); /* Replace 'background-image.jpg' with the path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff; /* Set text color to white or any contrasting color */
}

/* Add your other styles here */
